@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("changeIndividualPhoneNumber.title"))) {

    @formHelper(action = controllers.changeContactDetails.ChangeIndividualPhoneNumberController.onSubmit()) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("individualPhoneNumber.heading")).asPageHeading()
            )
            .withHint(HintViewModel(content = HtmlContent(messages("individualPhoneNumber.hint"))))
            .withWidth(Fixed20)
            .withInputType("tel")
            .withAutocomplete("tel")
        )

        @govukButton(
            ButtonViewModel(messages("site.continue")).withAttribute("id" -> "continue")
        )
    }
}